    <%- include('includes/head.ejs') %>
    <%- include('includes/nav.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 my-3">
                <h1 class="text-center">Agenda</h1>
                <p class="text-center lead">Relação de contatos abaixo:</p>

                

                <div class="responsive-table">
                    <table class="table my-3">
                        <tr>
                            <td>Nome</td>
                            <td>Sobrenome</td>
                            <td>Telefone</td>
                            <td>E-mail</td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

    <%- include('includes/footer.ejs') %>
<!-- End: src/views/index.ejs -->